*.pyc
*.crt
*.pyd
*.DS_Store
*.spec
*.pstat
*.tokens
*__pycache__*
.idea/*
conf/secrets.yml
atomic-red-team/*
data/*
!data/.gitkeep
payloads/*
!payloads/.gitkeep

ExternalPayloads/ChromeStandaloneSetup64.exe
ExternalPayloads/VirtualBox-6.1.32-149290-Win.exe
data/*
!data/.gitkeep
payloads/*
!payloads/.gitkeep
